* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Sans-serif;
}


/* BODY */

.home {
    background: #22242A;
    background-image: url(../img/vector.svg);
    background-size: contain;
    background-repeat: repeat;
    width: 100vmax;
    color: #fcfcfc;


}


/* HEADER */

.navBar {
    padding: 10px 20px;
    margin-bottom: 15px;
    background: rgba(17, 19, 22, 0.8);
    backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linea {
    width: 300px;
    color: #fdfafa;

}

.navBar p {
    padding: 15px;
    height: 450px;
    width: 59%;

}

a {
    text-decoration: none;
    color: #fcfcfc;

}

ul,
ol {
    list-style: none;
}

.navBar ul li a:hover {
    background-color: #fb4b0055;
    ;
    padding: 8px;
    border-radius: 2px;
    all: 1s;
}

header ul li {
    display: inline-block;
    /* gap: 20px;  */
    width: 110px;
    justify-content: center;
    align-items: center;
}

.vector {
    position: absolute;
    left: -11.50%;
    right: 100.92%;
    top: 0.84%;
    bottom: 91.95%;
}





/* CONTENIDO DE LA PAGINAA */
.main1 {
    padding: 40px;
    margin-top: 30px;
    width: 100%;
}

.titulo1 {
    padding: 0px;
    margin-top: 0px;
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: px;
}

.vector2 {
    width: 100%;
    background-color: #FB4B00;
    position: absolute;
    left: 600px;
    top: 165px;
}

.subtitulo1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 137.5%;
    margin-bottom: 40px;

}


.palabraColor {
    color: #FB4B00;
    ;
}

.enfasis {
    margin-left: 40px;
    width: 50%;
    margin-bottom: 20px;
    ;

}

.p1 {
    margin-bottom: 30px;
}

.contenedor-proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.proyecto-img{
    
    width: 200px;
    gap:20px
}

.proyecto h3{
    padding: 10px;
}
.proyecto{
    padding:30px;
    justify-content: center;
    text-align: center;
    background-color: rgba(72, 72, 85, 0.7);
    
}
.enfasis button {
    color: #fcfcfc;
    margin-top: 50px;
    margin-bottom: 80px;
    background: #FB4B00;
    border: 0;
    border-radius: 5px;
    padding: 8px;
}

.enfasis button a:hover{
    background-color: #f4f2f255;
    ;

}


.div1 {
    background: rgba(72, 72, 85, 0.7);
    backdrop-filter: blur(7.5px);

    margin: 100px;
    margin-bottom: 0px;
    padding: 20px;
    font-family: "Open Sans", Sans-serif;
    line-height: 25px;
    padding-bottom: 40px;
    justify-items: center;
    align-items: center;
}

.equipo-container {
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
}
.divEquipo2{
    padding: 50px;
    width: 100%;
    display:flex ;
    align-items: center;}

.tarjetas{    
    width: 30px;
}

.icon-contacto{
padding: 10px;
}
.icon-contacto i{
    font-size: 2rem;
    color: #FB4B00;
}

.contacto{
    width: 100%;
}
.contacto h2{
    font-size: 2rem;
    padding: 20px;
}

.contacto2{
    padding: 15px;
    width: 100%;
    height: 100%;

}



.subtitulo2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 15px;
}

.container-formulario{
    width: 50%;
    height: 100%;
}

.formulario{
    background-color: #ffffff;
    width: 72%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:  30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.formulario1{
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formulario2{
    width: 190px;
    height: 35px;
}

.footer {
    width: 100%;
    background: #FCFCFC;
    border-radius: 16px;
    color: #22242A;
    padding: 50px 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}

@media screen and (max-width:760px) {
    .navBar ul li {
        display: grid;


    }

    .navBar {

        width: 100%;
        margin: 0px;
    }

    .enfasis {
        padding: 0px;
        margin: 0px;

    }

    .enfasis h1 {
        font-size: 2.5rem;
        width: 400px;

    }

    .enfasis .subtitulo1 {
        width: 400px;
        font-size: 2.5rem;
        margin: 0px;
        padding: 0px;
    }

    .enfasis .p1 {
        font-size: 1rem;
        background-color: #FB4B00;
        width: 300px;

    }

    .enfasis .p2 {
        font-size: 1rem;
        width: 300px;

    }

    .div1 {
        width: 100%;
        font-size: 1rem;
        margin: 0px;



    }

    .div1 .subtitulo2 {
        font-size: 2rem;
    }

    .divEquipo h2 {
        font-size: 2rem;
    }

    .divEquipo h3 {
        width: 300px;
        font-size: 1.5rem;
        padding-bottom: 15px;

    }

    .divEquipo p {
        width: 300px;
        text-align: justify;
    }



    .tarjetas {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        right: 250px;
    }

    .proyecto2 {
        text-align: center;
        padding: 20px;
    }

    .proyecto-img {
        width: 200px;
    }

    .tarjeta-s {
        background-color: #FB4B00;
    }

    .proyecto {
        margin-top: 30px;
        background-color: rgba(72, 72, 85, 0.7);
    }

    .proyecto h2 {
        text-align: center;
        font-size: 1.7rem;
    }

    .proyecto h3 {
        font-size: 1.1rem;
        text-align: center;
    }

    .formulario {
        text-align: center;
        width: 100%;
    }

    .footer ul li {
        list-style: none;
    }

    .footer {
        width: 100%;
        display: block;
    }

    .footer2 {
        /* background-color: #FB4B00; */
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .home {
        width: 100%;

    }

    header .navBar {
        width: 100%;
        font-size: 0.9rem;
        justify-content: space-around;
    }

    .img-logo {
        width: 110px;
    }

    .titulo1 {
        font-size: 3rem;
    }

    .subtitulo1 {
        font-size: 2rem;
        padding: 0px;
        margin: 0px;
        font-family: "Open Sans", Sans-serif;
    }

    .enfasis p {
        font-size: 1rem;
    }

    button {
        width: 80px;
        font-size: 1rem;
    }

    .div1 {
        font-size: 1rem;
        line-height: 20px;
    }

    .div1 .subtitulo2 {
        font-size: 2rem;
    }

    .divEquipo2{
        display: grid;
    }

    .divEquipo {
        padding: 0px;
        margin: 0px;
    }

    .equipo-container p {
        font-size: 1rem;
        font-family: "Open Sans", Sans-serif;
    }

    .contenedor-proyecto{
        display: grid;
    }

    .proyecto {
        color: #fcfcfc;
    }

    .proyecto h2 {
        font-size: 2rem;
        text-align: center;
    }

    .proyecto h3 {

        font-size: 1rem;
        text-align: center;
    }

    .proyecto2 {
        text-align: center;
    }

    .proyecto2 p {
        font-size: 1rem;
        text-align: center;
    }

    .contacto {
        padding: 10px;
        width: 100%;
    }



    .contacto h2 {
        font-size: 2rem;
    }

    .contacto span {
        font-size: 1rem;
    }

    .formulario {
        align-items: center;
    }

    .formulario2 {
        display: grid;
    }

}












/* HTML EMPRESA */
.header-empresa {
    text-align: center;
    font-size: 1.5rem;
}



.main2 {
    padding: 40px;
    margin-top: 30px;
    margin: 40px;
    background: rgba(72, 72, 85, 0.7);
    backdrop-filter: blur(7.5px);



}

.div-1empresa {
    line-height: 28px;
    font-weight: 400;
    font-size: 1rem;
    padding: 40px;
}









/* HTML SERVICIOS */
.titulo3 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.subtitulo-servicios {
    margin-bottom: 50px;
    text-align: center;
    font-size: 1rem;
    line-height: 28px;
    font-weight: 400;

}

.servicios-tarjeta {
    margin: 15px;
    margin-top: 0px;
    text-align: center;
    /* text-decoration:underline #FB4B00; */

}

.tarjetas {
    display: flex;
    text-align: center;
    font-size: 12px;
    margin-left: 250px;

}

.divEquipo {
    padding: 50px;
}

.tarjeta-s {
    background: #22242A;
    border-radius: 8px;
    padding: 20px;
    margin: 25px;
    justify-items: center;
    align-items: center;

}

.tarjeta-s p {
    margin-bottom: 15px;

}

.linea-serv {
    border: 2px solid #FB4B00;
    width: 67px;
    height: 0px;
    right: 500px;
}









/* HTML TECNOLOGIA CLOUD */
.div-cloud {
    background: rgba(72, 72, 85, 0.7);
    padding: 30px;
    margin: 70px;

}

.vector-cloud {
    position: absolute;
    /* left: 13.15%; */
    right: 10%;
    top: 225%;
    bottom: 15%;

}








/* HTML DEVOPS */
.header-devops {
    padding: 20px;
    margin-bottom: 15px;
    background: rgba(17, 19, 22, 0.8);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}




.div-devops {
    padding: 20px;
    margin: 70px;

}

.navBar ul,
li {
    list-style: disc;
    padding-top: 10px;
}

.div-devops h1 {
    padding-bottom: 10px;
    margin-right: 20px;
    color: #FB4B00;
}


.div-devops p {
    padding-bottom: 10px;
}


.vector-devops {
    position: absolute;
    left: 63.4%;
    right: 1.86%;
    top: 27.1%;
    bottom: -0.12%;

}





/* HTML CONTACTO */

.div-form {
    /* text-align: right; */
    display: inline-block;

}