* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Sans-serif;
}


/* BODY */
body {
    width: 100%;
    height: 100%;
}

.home {
    background: #22242A;
    background-image: url(../img/vector.svg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    color: #fcfcfc;


}


/* HEADER */

.navBar {
    padding: 10px 20px;
    margin-bottom: 15px;
    background: rgba(17, 19, 22, 0.8);
    backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linea {
    width: 300px;
    color: #fdfafa;

}

.navBar p {
    padding: 15px;
    height: 450px;
    width: 59%;

}

a {
    text-decoration: none;
    color: #fcfcfc;

}

ul,
ol {
    list-style: none;
}

.navBar ul li a:hover {
    background-color: #fb4b0055;
    ;
    padding: 8px;
    border-radius: 2px;
    all: 1s;
}

header ul li {
    display: inline-block;
    /* gap: 20px;  */
    width: 110px;
    justify-content: center;
    align-items: center;
}

.vector img {
    width: 150px;
}

.vector {

    position: absolute;
    left: -0.100%;
    right: 30.60%;
    top: 7.84%;
    bottom: 5.95%;
}





/* CONTENIDO DE LA PAGINAA */
.main1 {
    position: relative;
    padding: 40px;
    margin-top: 30px;
    width: 100%;
}

.titulo1 {

    padding: 0px;
    margin-top: 0px;
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: px;
}

.vector2 {
    position: absolute;
    left: 783px;
    top: 240px;
}

.vector2 img {
    width: 480px;
}

.subtitulo1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 137.5%;
    margin-bottom: 40px;

}


.palabraColor {
    color: #FB4B00;
    ;
}

.enfasis {
    margin-left: 40px;
    width: 50%;
    margin-bottom: 20px;
    ;

}

.p1 {
    margin-bottom: 30px;
}

.contenedor-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.proyecto-img {

    width: 200px;
}

.proyecto h3 {
    padding: 20px;
}

.proyecto {
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 35px;
    justify-content: center;
    text-align: center;
    background-color: rgba(72, 72, 85, 0.7);

}

.enfasis button {
    color: #fcfcfc;
    margin-top: 50px;
    margin-bottom: 80px;
    background: #FB4B00;
    border: 0;
    border-radius: 5px;
    padding: 8px;
}

.enfasis button a:hover {
    background-color: #f4f2f255;
    ;

}


.div1 {
    background: rgba(72, 72, 85, 0.7);
    backdrop-filter: blur(7.5px);

    margin: 100px;
    margin-bottom: 0px;
    padding: 20px;
    font-family: "Open Sans", Sans-serif;
    line-height: 25px;
    padding-bottom: 40px;
    justify-items: center;
    align-items: center;
}

picture img {
    width: 160px;
}

.equipo-container {
    justify-content: center;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
}

.divEquipo2 {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    width: 100%;
}

.divEquipo h3 {
    font-size: 1.5rem;
    padding-bottom: 5px;
}


.divEquipo p {
    font-size: 1rem;
}

.icon-contacto {
    padding: 10px;
}

.icon-contacto i {
    font-size: 2rem;
    color: #FB4B00;
}


.contacto {
    /* background-color: #FB4B00; */
    width: 87.6%;
    margin-left: 100px;
    margin-right: 100px;
}

.contacto h2 {
    font-size: 2rem;
    padding-top: 50px;
    padding-bottom: 20px;
}

.contacto2 {
    padding-top: 10px;
    height: 100%;

}



.subtitulo2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 15px;
}

.container-formulario {
    padding-top: 30px;
    width: 50%;
    height: 100%;
}

.formulario {
    background-color: #ffffff;
    width: 72%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.formulario1 {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formulario2 {
    width: 160px;
    height: 35px;
}

.footer {
    width: 100%;
    background: #F3F4F6;
    color: #22242A;
    padding: 50px 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

}

.footer2 p {
    color: #6B7280;
}

.footer2 span {
    color: #6B7280;
}

@media screen and (max-width:760px) {
    .home {
        width: 100%;
    }

    .vector2 {
        display: none;
    }

    .vector {
        display: none;
    }


    .main1 {
        width: 100%;
    }

    .enfasis {
        padding: 0px;
        margin: 0px;

    }

    .enfasis h1 {
        font-size: 2rem;
        width: 300px;

    }

    .navBar {
        align-items: flex-start;
        flex-direction: column;
    }

    header ul li {
        width: 65px;
    }

    .enfasis .subtitulo1 {
        font-size: 1.5rem;
        width: 300px;
        margin: 0px;
        padding: 0px;
        margin: 0px;
    }

    .enfasis .p1 {
        font-size: 1rem;
        background-color: #FB4B00;
        width: 300px;

    }

    .enfasis .p2 {
        font-size: 1rem;
        width: 300px;

    }

    .div1 {
        width: 100%;
        font-size: 1rem;
        margin: 0px;



    }

    .div1 .subtitulo2 {
        font-size: 2rem;
    }

    .divEquipo2 {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .divEquipo h2 {
        font-size: 2rem;
    }

    .divEquipo h3 {

        /* width: 400px; */
        font-size: 1.5rem;
        padding-bottom: 30px;

    }

    .equipo-container {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .divEquipo p {
        align-items: center;
        text-align: justify;
    }



    .tarjetas {
        width: 100%;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
    }

    picture img {
        font-size: 10px;
    }

    .contenedor-proyecto {
        flex-direction: column;
    }

    .proyecto2 {
        text-align: center;
        padding: 20px;
    }

    .proyecto-img {
        width: 200px;
    }

    .proyecto {
        margin-top: 30px;
        background-color: rgba(72, 72, 85, 0.7);
    }

    .proyecto h2 {
        text-align: center;
        font-size: 1.7rem;
    }

    .proyecto h3 {
        font-size: 1.1rem;
        text-align: center;
    }

    .formulario {
        text-align: center;
        width: 100%;
    }

    .footer ul li {
        list-style: none;
    }

    .footer {
        font-size: 0.9rem;
        padding: 0px 0px;
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
        border-radius: 0px;
        gap: 5px
    }

    .footer2 {
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .home {
        width: 100%;

    }

    .vector2 {
        position: absolute;
        left: 650px;
        top: 240px;
    }

    .vector2 img {
        width: 300px;
    }

    header .navBar {
        width: 100%;
        font-size: 0.9rem;
        justify-content: space-around;
    }

    .img-logo {
        width: 110px;
    }

    .titulo1 {
        font-size: 3rem;
    }

    .subtitulo1 {
        font-size: 2rem;
        padding: 0px;
        margin: 0px;
        font-family: "Open Sans", Sans-serif;
    }

    .enfasis p {
        font-size: 1rem;
    }

    button {
        width: 80px;
        font-size: 1rem;
    }

    .div1 {
        font-size: 1rem;
        line-height: 20px;
    }

    .div1 .subtitulo2 {
        font-size: 2rem;
    }

    .divEquipo2 {
        display: flex;
        /* justify-content: flex-end; */
        align-items: center;
    }

    .divEquipo2 picture img {
        width: 100px;
    }

    .divEquipo {
        padding: 0px;
        margin: 0px;
    }

    .tarjetas {
        font-size: 12px;
        margin-left: 90px;

    }

    .contacto {
        margin: 0px;
    }

    .contacto2 {
        width: 100%;
        height: 100%;
    }



    .equipo-container p {
        font-size: 1rem;
        font-family: "Open Sans", Sans-serif;
    }

    .proyecto {
        color: #fcfcfc;
        margin: 0px;
    }

    .proyecto h2 {
        font-size: 2rem;
        text-align: center;
    }

    .proyecto h3 {

        font-size: 1rem;
        text-align: center;
    }

    .proyecto2 {
        text-align: center;
    }

    .proyecto2 p {
        font-size: 1rem;
        text-align: center;
    }

    .container-formulario {
        width: 90%;
        height: 90%;
    }

    .formulario {
        width: 300px;
        height: 300px;

    }

    .formulario2 {
        width: 120px;
    }

    .contacto {
        padding: 10px;
        width: 100%;
    }



    .contacto h2 {
        font-size: 2rem;
    }

    .contacto span {
        font-size: 1rem;
    }


}












/* HTML EMPRESA */
.header-empresa {
    text-align: center;
    font-size: 1.5rem;
}



.main2 {
    padding: 40px;
    margin-top: 30px;
    margin: 40px;
    background: rgba(72, 72, 85, 0.7);
    backdrop-filter: blur(7.5px);



}

.div-1empresa {
    margin: 100px;
    line-height: 28px;
    font-weight: 400;
    font-size: 1rem;
    padding: 40px;
}









/* HTML SERVICIOS */
body {
    width: 100%;
    height: 100%;
}
.home{
width: 100%;
height: 100%;
}

.titulo3 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.subtitulo-servicios {
    margin-bottom: 50px;
    text-align: center;
    font-size: 1rem;
    line-height: 28px;
    font-weight: 400;

}

.servicios-tarjeta {
    margin: 15px;
    margin-top: 0px;
    text-align: center;
    /* text-decoration:underline #FB4B00; */

}

.tarjetas {
    font-size: 12px;

}

.divEquipo {
    padding: 50px;
}

.tarjetas2 img {
    width: 120px;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.img2{
    margin-top: 40px;
}

.img3{
    margin-top: 60px;
}
.img4{
    margin-top: 80px;
}

.tarjetas2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tarjeta-s {
    width: 300px;
    height: 320px;
    background: #22242A;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;

}

.tarjeta-s p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 250px;
    margin-bottom: 15px;

}

.linea-serv {
    border: 2px solid #FB4B00;
    width: 67px;
    height: 0px;
    right: 500px;
}










/* HTML TECNOLOGIA CLOUD */
.div-cloud {
    background: rgba(72, 72, 85, 0.7);
    padding: 30px;
    margin: 70px;

}

.vector-cloud {
    position: absolute;
    /* left: 13.15%; */
    right: 10%;
    top: 225%;
    bottom: 15%;

}








/* HTML DEVOPS */
.header-devops {
    padding: 20px;
    margin-bottom: 15px;
    background: rgba(17, 19, 22, 0.8);
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}




.div-devops {
    padding: 20px;
    margin: 70px;

}

.navBar ul,
li {
    list-style: disc;
    padding-top: 10px;
}

.div-devops h1 {
    padding-bottom: 10px;
    margin-right: 20px;
    color: #FB4B00;
}


.div-devops p {
    padding-bottom: 10px;
}


.vector-devops {
    position: absolute;
    left: 63.4%;
    right: 1.86%;
    top: 27.1%;
    bottom: -0.12%;

}





/* HTML CONTACTO */

.div-form {
    /* text-align: right; */
    display: inline-block;

}