

/* HTML EMPRESA */
.header-empresa {
    text-align: center;
    font-size: 1.5rem;
}



.main2 {
    padding: 40px;
    margin-top: 30px;
    margin: 40px;
    background: rgba(72, 72, 85, 0.7);
    backdrop-filter: blur(7.5px);



}

.div-1empresa {
    margin: 100px;
    line-height: 28px;
    font-weight: 400;
    font-size: 1rem;
    padding: 40px;
}

@media(max-width:760px){
    .div-1empresa{
        margin: 0px;
        padding: 0px;
        font-size: 0.9rem;

    }
    h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
}