/* HTML TECNOLOGIA CLOUD */
.div-cloud {
    background: rgba(72, 72, 85, 0.7);
    padding: 30px;
    margin: 70px;

}

.vector-cloud {
    position: absolute;
    /* left: 13.15%; */
    right: 10%;
    top: 225%;
    bottom: 15%;

}
